code {
    font-family: Courier,SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-weight: 400;
    font-size: 0.95em;
    line-height: 1.5;
    background-color: #000000;
    padding: 0.5em;
    border-radius: 4px;
    overflow-x: auto;
    background-color: #f5f7fa;
    color: #ed6c63;
    font-size: 12px;
    font-weight: normal;
    padding: 1px 2px 2px
}

/* Mobile adjustments */
@media screen and (max-width: 480px) {
    .title.is-4 {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .nav-item .level-item {
        font-size: 0;
    }
    
    .nav-item .level-item .icon {
        font-size: 1rem;
        margin-right: 0 !important;
    }
}
